<%= render 'header' %>

<div id="image-titre">
	<%= image_tag " ", style: 'height:100%;width:100%;' %>
</div>

<div id="carrousel">
	CARROUSEL
</div>

<div class="conteneur">
	<div class="ss-conteneur-i bg-blue1">
		<%= image_tag " " %><%= image_tag " " %>
	</div>

	<div class="ss-conteneur-p padding1">
		<h1>Infos</h1>
		<p class="bold">cccc</p>
		<p>cccccccc</p>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-p padding1">
		<h1>Compétitions</h1>
		<p class="bold">cccccc</p>
		<p>sssssss</p>
	</div>

	<div class="ss-conteneur-i bg-blue2">
		<%= image_tag " ", style: 'height:100%;width:100%;' %>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i bg-lime">
		<%= image_tag " " %><%= image_tag " " %>
	</div>

	<div class="ss-conteneur-p padding1">
		<h1>Classement</h1>
		<p class="bold">cccc</p>
		<p>cccccccc</p>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-p padding1">
		<h1>Plumes et flèches de progression</h1>
		<p class="bold">cccccc</p>
		<p>sssssss</p>
	</div>

	<div class="ss-conteneur-i bg-blue1">
		<%= image_tag " " %><%= image_tag " " %>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i bg-yellow">
		<%= image_tag " ", style: 'height:100%;width:100%;' %>
	</div>

	<div class="ss-conteneur-p padding1">
		<h1>Evénements et travaux</h1>
		<p class="bold">Evénements</p>
		<p>sssssss</p>
		<p class="bold">Travaux au Terrain</p>
		<p>sssssss</p>
		<p class="bold">Travaux au Gymnase</p>
		<p>sssssss</p>
	</div>
</div>

<%= render 'footer' %>

