<%= render 'header' %>

<div id="image-titre">
	<%= image_tag " ", style: 'height:100%;width:100%;' %>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i bg-color1">
		<%= image_tag " " %><%= image_tag " " %>
	</div>

	<div class="ss-conteneur-p padding1">
		<h1>xxxxx</h1>
		<p class="bold">cccc</p>
		<p>cccccccc</p>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-p padding1">
		<h1>xxxxx</h1>
		<p class="bold">cccccc</p>
		<p>sssssss</p>
	</div>

	<div class="ss-conteneur-i bg-color2">
		<%= image_tag " ", style: 'height:100%;width:100%;' %>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i bg-color1">
		<%= image_tag " " %><%= image_tag " " %>
	</div>

	<div class="ss-conteneur-p padding1">
		<h1>xxxxx</h1>
		<p class="bold">cccc</p>
		<p>cccccccc</p>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-p padding1">
		<h1>xxxxx</h1>
		<p class="bold">cccccc</p>
		<p>sssssss</p>
	</div>

	<div class="ss-conteneur-i bg-color2">
		<%= image_tag " ", style: 'height:100%;width:100%;' %>
	</div>
</div>

<%= render 'footer' %>

